<footer class="footer">
  <div class="menus">
    <div class="menu">
      <nav class="nav">
        <ul class="list">
          <li>
            <a
              class="link"
              href="https://adalab.es"
              alt="Escuela Digital Adalab"
              title="Escuela digital Adalab"
              >Articles</a
            >
          </li>
          <li>
            <a
              class="link"
              href="https://adalab.es"
              alt="Escuela Digital Adalab"
              title="Escuela digital Adalab"
              >Books</a
            >
          </li>
          <li>
            <a
              class="link"
              href="https://adalab.es"
              alt="Escuela Digital Adalab"
              title="Escuela digital Adalab"
              >Events</a
            >
          </li>
          <li>
            <a
              class="link"
              href="https://adalab.es"
              alt="Escuela Digital Adalab"
              title="Escuela digital Adalab"
              >Reasons</a
            >
          </li>
          <li>
            <a
              class="link"
              href="https://adalab.es"
              alt="Escuela Digital Adalab"
              title="Escuela digital Adalab"
              >Tips</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="social-menu">
      <nav>
        <ul class="list">
          <li>
            <a
              class="link"
              href="https://adalab.es"
              alt="Escuela Digital Adalab"
              title="Escuela digital Adalab"
              >Twitter</a
            >
          </li>
          <li>
            <a
              class="link"
              href="https://adalab.es"
              alt="Escuela Digital Adalab"
              title="Escuela digital Adalab"
              >Instagram</a
            >
          </li>
          <li>
            <a
              class="link"
              href="https://adalab.es"
              alt="Escuela Digital Adalab"
              title="Escuela digital Adalab"
              >Mastodon.social</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="small">
      <small>
        <span class="copy"> &copy 2017 </span>
        <span class="copy"> We ❤️ components </span>
      </small>
    </div>
  </div>
</footer>
