<footer class="footer"> 
    <div class= menu>
  <nav >
    <ul class="links">
      <li >
        <a 
          href="https://adalab.es"
          alt="Escuela Digital Adalab"
          title="Escuela digital Adalab"
          >Articles</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es"
          alt="Escuela Digital Adalab"
          title="Escuela digital Adalab"
          >Books</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es"
          alt="Escuela Digital Adalab"
          title="Escuela digital Adalab"
          >Events</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es"
          alt="Escuela Digital Adalab"
          title="Escuela digital Adalab"
          >Reasons</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es"
          alt="Escuela Digital Adalab"
          title="Escuela digital Adalab"
          >Tips</a
        >
      </li>
    </ul>
  </div>
  </nav>
  <div class=menu-media>
  <nav>
    <ul>
      <li>
        <a
          href="https://adalab.es"
          alt="Escuela Digital Adalab"
          title="Escuela digital Adalab"
          >Twitter</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es"
          alt="Escuela Digital Adalab"
          title="Escuela digital Adalab"
          >Instagram</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es"
          alt="Escuela Digital Adalab"
          title="Escuela digital Adalab"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
</div>
<small>
  <span class="info"> &copy 2017 </span>
  <span class="info">We ❤️ components</span>
</small>
</footer>