<header class="header">
  <!-- <div class="hero-image"> -->
  <!-- <img
      src="./assets/images/cover.jpg"
      alt="Imagen de Nueva York"
      title="Imagen de Nueva York"
    /> -->
  <!-- </div> -->
  <div class="ico-menu">
    <a
      href="https://adalab.es"
      alt="Escuela digital Adalab"
      title="Escuela digital Adalab"
    >
      <img
        class="ico-menu-img"
        src="./assets/images/ico-menu.svg"
        alt=" Escuela digital Adalab"
        title="Escuela digital Adalab"
      />
    </a>
  </div>
  <div class="title-container">
    <h1 class="title">
      <span class="title-inner">Anonymous</span>
      <span class="title-inner">proxy</span>
    </h1>
    <p>In hac habitasse platea dictumst</p>
    <a class="" href="#">
      <img
        src="./assets/images/ico-scroll-down.svg"
        alt="enlace a 3 reasons
      to purchase"
        title="enlace a 3 reasons to purchase"
      />
    </a>
  </div>
</header>
