// footer

.footer {
  background-color: #304268;
  color: white;
  display: flex;
  flex-direction: column;
}

.bottom-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 0;
  transform: translate(0, -50%);
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 20px;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.social-menu {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.list {
  list-style-type: none;
}

.link {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}

.small {
  margin-bottom: 45px;
}

.copy {
  display: block;
}

.heart {
  color: #f26002;
}
@media all and (min-width: 768px) {
  .menus {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 39px 15px 39px;
    justify-content: space-between;
    text-align: start;
  }
  .small {
    order: -1;
  }
}
@media all and (min-width: 1200px) {
  .menus {
    margin: 0px 370px 15px 370px;
  }
}
